<div>
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">
                                Головна
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Послуги
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Про компанiю
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контакти
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/images/slide-1.jpg">
                            <div class="carousel-caption">
                                <h1>
                                    Безпека
                                </h1>
                                <p>
                                    у вашiй оселi
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slide-2.jpg">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slide-3.jpg">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/slide-4.jpg">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>
                    Про нас
                </h2>
                <p>
                    Lorem ipsum dolorit.
                    Mauris fermentum dictum magned laoreet aliquam leo. Ut
                    telloribus eget elementum vel curleifend elit. Aean
                    auctorisi et urnaliqurat votpat. Duirpis. Inteerutrum ante
                    eu lac
                    ustibulum.

                    Etiamur lel metus. Nulla fn nec eros. Vestiblum ante ipsum
                    primis fauus orci lucs et utrices posuere cubilipende
                    sollicitudin veitsed leo pharetra aug nec augue. Na
                    elit magnandrerit siet tincidunt ac
                    viverra sed nulla.
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    Що ми робимо?
                </h2>
                <ul> <li>Mauris fermentum<li>
                         Ut telloribus eget eleme</li> <li>
                         Aean auctorisi et urna</li> <li>
                         Aliqurat votpat</li> <li>
                         Duirpitrum ante eu lacust</li> <li>
                         Etiamur lel metus</li> <li>
                         Nulla fn nec eros</li> <li>
                         Vestiblum ante ipsum prim</li> <li>
                         Fauus orci lucs et utric</li> <li>
                         Posuere cubilipende
                     </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>
                    Чому ми?
                </h2>
                <p>
                    Lorem ipsum dolorit.
                    Mauris fermentum dictit magnandrerit siet tinc idunt ac
                    viverra sed nuum magned laoreet aliquam leo.

                    Ut telloribus egentum.
                    Aean auctit magnandrerit siet tincidunt ac viverra sed
                    nuorisi et urna. Aliqurat vn sollitsed leo phareirpis.

                    Inteeruante eu lacusti.
                    Etiamur lel metus. Nulla fn nec eros. Vestiblum ante iende
                    sollicitudin veitsed leo.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="footer">
            </div>
        </div>
    </div>
</div>
